---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Custom Piratar.is changes are below this line:
// START CUSTOM CHANGES

//colors
$purple: #51297e;
$purple-light: #763cb8;

a{
 color:381c58;
}

body{
  background-color: rgb(252, 252, 252);
  font-family : "Montserrat", Arial, Tahoma, -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}

.bg-grey{
  background-color: #EEEEEE;
}
.bg-purple{
  color:white;
  background-color: $purple;
}
.bg-purple-light{
  color:white;
  background-color: $purple-light;
}
.btn-purple{
  background-color: #51297e;
  color:white !important;
  padding:14px !important;
  border-radius: 2em !important;
}
.btn-purple:hover{
  background-color: #381c58;
}

.btn-white{
  background-color: white;
  color:$purple;
  padding:14px !important;
  border-radius: 2em !important;
}
.btn-white:hover{
  color:white;
  background-color: #381c58;
}

.navbar{
  border-bottom: 2px solid $purple !important;
}

